@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f69b7;
  --white-color: #ffffff;
  --green-color: #3a9207;
  --linear-background: linear-gradient(141.08deg, #2E84F1 -11.75%, #085B01 112.29%);
}

* {
  font-family: "Noto Sans Khmer", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: #f8f8f9;
}

body {
  background-color: var(--white-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
